@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}

<div class="text-center">
	<p><a class="btn btn-primary" asp-controller="Home" asp-action="CriarSku">CRIAR SKU</a></p>
	<p><a class="btn btn-primary" asp-controller="Home" asp-action="CriaGtin">CRIAR <i>GTIN</i></a></p>
	</div>
